 
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                    <h1 style="color: #0F3C73;"><span class="outside-cats">Категория {{page.cat_name}}</span></h1>
                    <div role="main" class="main-content">
                      {{ content }}
                    </div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Поиск</h4>
                    <script>
                      (function() {
                        var cx = '011165617435557860379:onydhtw3d9k';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Категории</h4>
                        <p>
                            {% for cat in site.categories %}
                            {% assign cat_name = cat | first %}
                            {% assign cat_size = cat | last | size %}
                            {% assign cat_slug = cat_name | slugify  %}
                                <a class="post-cat" href="/category/{{cat_slug | prepend: site.baseurl}}">{{cat_name}} ({{cat_size}})</a>
                            {% endfor %}
                        </p>
                </div>
                <!-- Side Widget Well -->

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Последние публикации</h4>
                        <p>    
                            {% for post in site.posts limit:5 %}                                   
                                   <a class = "post-new" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
                            {% endfor %}  
                        </p>
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Теги</h4>
                        <p>
                            {% for tag in site.tags %}
                            {% assign tag_name = tag | first %}
                            {% assign tag_size = tag | last | size %}
                            {% assign tag_slug = tag_name | slugify  %}                             
                                <a class="post-tag" href="/tag/{{tag_slug | prepend: site.baseurl}}">{{tag_name}} ({{tag_size}})</a>
                            {% endfor %}
                        </p>
                </div>

            </div>
        </div>
        <!-- /.row -->
       <hr>