<div class="post-list">

    <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <div class="post-meta">Posted by
        <i class="fa fa-user"></i> {{ post.author}}
        <i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}
    </div>
    <div class="excerpt">{{ post.excerpt }}</div>
    <div class="readmore">
        {% if post.content | post_contains_excerpt_tag %}
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
        {% endif %}
    </div>   
<hr>
</div>
