
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                    <div class="post-list" style="list-style-type: none;">
                        {% for post in paginator.posts %}   
                            <h2>
                                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            </h2>
                            <div class="author" style="margin-top: -10px;">Posted by
                                <i class="fa fa-user"></i><a href="https://github.com/Vinatorul"> {{ post.author}}</a>
                                <span class="post-meta"><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
                            </div>
                            <div class="excerpt">{{ post.excerpt }}</div>
                            <div class="readmore" style="float: left;">
                                {% if post.content | post_contains_excerpt_tag %}
                                    <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
                                {% endif %}
                            </div>                              
                    </div>
                    <hr>
                        <div class="post-list" style="list-style-type: none;">          
                            {% endfor %} 
                        </div>
                    <!-- Pagination links -->
                    <div class="pagination">
                      <ul>
                        {% if paginator.previous_page %}

                          {% if paginator.previous_page == 1 %}
                            <li><a href="/sciblog/">Previous</a></li>
                          {% else %}
                            <li><a href="/sciblog/page{{ paginator.previous_page }}">Previous</a></li>
                          {% endif %}

                        {% else %}
                          <li><span class="disabled">Previous</span></li>
                        {% endif %}

                        {% if paginator.page == 1 %}
                          <li><span class="active">1</span></li>
                        {% else %}
                          <li><a href="/sciblog/">1</a></li>
                        {% endif %}

                        {% for count in (2..paginator.total_pages) %}

                          {% if count == paginator.page %}
                            <li><span class="active">{{ count }}</span></li>
                          {% else %}
                            <li><a href="/sciblog/page{{ count }}">{{ count }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                          <li><a href="/sciblog/page{{ paginator.next_page }}">Next</a></li>
                        {% else %}
                          <li><span class="disabled">Next</span></li>
                        {% endif %}
                      </ul>
                    </div>
            </div>

            <!-- Widget -->
            <div class="col-md-4">

                <!-- Blog Search -->
                <div class="well">
                    <h4>Search</h4>
                    <script>
                      (function() {
                        var cx = '011165617435557860379:onydhtw3d9k';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <!-- Blog Categories -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                                {% for cat in site.categories %}
                                {% assign cat_name = cat | first %}
                                {% assign cat_size = cat | last | size %}
                                {% assign cat_slug = cat_name | slugify  %}
                                    <a class="bold" href="/category/{{cat_slug | prepend: site.baseurl}}">
                                        {{cat_name}} ({{cat_size}})
                                    </a>
                        </div>
                        <div class="col-lg-6">
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- end -->

                <!-- Recents post -->
                <div class="well">
                    <h4>Recent posts</h4>
                        <ul class="posts" span="recent">  
                            {% for post in site.posts limit:5 %}  
                               <li>  
                                   <span>{{ post.date | date_to_string }}</span>
                                   <a href="{{ BASE_PATH }}{{ post.url }}">  
                                   {{ post.title }}</a>  
                               </li>  
                            {% endfor %}  
                        </ul>
                </div>
                <!-- tags widget -->
                <div class="well">
                    <h4>Tags</h4>
                        <ul>
                            {% for tag in site.tags %}
                            {% assign tag_name = tag | first %}
                            {% assign tag_size = tag | last | size %}
                            {% assign tag_slug = tag_name | slugify  %}
                                <a class="tag-label bold" href="/tag/{{tag_slug | prepend: site.baseurl}}">
                                    {{tag_name}} ({{tag_size}})
                                </a>
                            {% endfor %}
                        </ul>
                </div>             

            </div>
        </div>
        <!-- /.row -->
       <hr>